.join-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .main-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}

/* cyrillic-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCMPrEHJA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCHPrEHJA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCGPrEHJA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrE.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
input {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: #212121;
}

address {
  font-style: normal;
}

.icon {
  fill: currentColor;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .logo-menu-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .logo-menu-box {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-menu-box {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

.icon-menu:hover,
.icon-menu:focus,
.icon-cross:hover,
.icon-cross:focus {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    z-index: 999;
    background-color: #fff;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media screen and (max-width: 767px) {
  .menu-button.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    padding: 26px 0;
  }
}

.logo__text {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mobile__nav-menu {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .mobile__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .mobile__nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu__list {
    margin-top: 48px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .nav-menu__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .nav-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 480px) {
  .nav-menu__item {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .nav-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav-menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    /* opacity: 0; */
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__link:hover::after,
  .nav-menu__link:focus::after {
    /* opacity: 1; */
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__link.current::after {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-menu__link.current {
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 305px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .contact-social__lists {
    padding-bottom: 48px;
  }
  .contacts__link.mail {
    color: #757575;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contacts__link.phone {
    color: #2196f3;
  }
  .contacts__icon-envelope,
  .contacts__icon-phone {
    display: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .contacts__icon-envelope,
  .contacts__icon-phone {
    display: block;
    margin-right: 8px;
  }
}

@media screen and (max-width: 767px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .social-list__link::after {
    content: '';
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    width: 1px;
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
  .social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    display: none;
  }
  .contacts__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .contacts__link {
    color: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__icon-envelope {
    width: 14px;
    height: 10px;
  }
  .contacts__icon-phone {
    width: 10px;
    height: 14px;
  }
  .contacts__icon-envelope,
  .contacts__icon-phone {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

.hero-section {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4)));
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

@media screen and (max-width: 767px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-480.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-960.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-960.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-1536.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-1536.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-1600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-1600.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-3200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-3200.jpg);
  }
}

.hero-section__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .hero-section__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
  }
}

.hero-section__btn {
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__btn:hover, .hero-section__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .benefits-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-section__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-section__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-section__item {
    width: 270px;
    /* flex-basis: calc((100% - 90px) / 4); */
  }
}

@media screen and (max-width: 767px) {
  .benefits-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .benefits-section__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits-section__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .benefits-section__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .benefits-section__title {
    text-align: left;
  }
}

.benefits-section__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .icon-block {
    padding: 25px 142px;
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 270px;
    height: 120px;
    padding: 0;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.icon-block__item {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.work-section__img {
  position: relative;
}

.work-section__img:not(:last-child) {
  margin-right: 30px;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.overlay__title {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}

.team-section {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

.team-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .team-card {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-card {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .team-card > img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team-card > img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card > img {
    width: 270px;
    height: 260px;
  }
}

@media screen and (max-width: 767px) {
  .team-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__info {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-card__info {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-card__info {
    padding-bottom: 24px;
  }
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.team-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-box:not(:last-child) {
  margin-right: 10px;
}

.social-box__link {
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  border-radius: 50%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box__link:hover, .social-box__link:focus {
  color: #fff;
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .social-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .social-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .social-box__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .clients-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-section__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.clients-box {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-box {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-box {
    width: 170px;
    height: 92px;
  }
}

.clients-box:hover, .clients-box:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients-box:nth-child(2n+1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients-box:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: #AFB1B8;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box__link:hover, .clients-box__link:focus {
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #2f303a;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #2f303a;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__address {
    margin-right: 165px;
  }
}

@media screen and (max-width: 767px) {
  .page-footer__logo {
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .page-footer__logo {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .address__text {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
  }
}

@media screen and (min-width: 768px) {
  .address__text {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .address__link {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .address__link {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
}

.address__link:not(:last-child) {
  margin-bottom: 8px;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .join-box {
    margin-right: 93px;
  }
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .join-box__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}

.join-box__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .join-box__list {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .join-box__list {
    margin-top: 20px;
  }
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-item__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-item__link:hover, .join-item__link:focus {
  background-color: #2196f3;
}

.join-item__icon {
  margin: 12px;
  fill: #fff;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .subscribe-form__title {
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-form__field {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__field {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .subscribe-form__input {
    padding: 15px 16px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    background-color: #2f303a;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:focus {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .subscribe-form__btn {
    padding: 10px 28px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #fff;
    background-color: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .subscribe-form__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__btn {
    display: inline;
    margin-left: 8px;
  }
}

.subscribe-form__icon {
  margin-left: 10px;
  vertical-align: middle;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .page-footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
  }
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
  .page-footer__address {
    margin-right: 70px;
  }
  .page-footer__logo {
    display: block;
    padding: 0;
    margin-bottom: 20px;
    color: #fff;
  }
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
  }
  .address__text {
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
  }
  .address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__link:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__link:hover, .address__link:focus {
    color: #2196f3;
  }
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .buttons {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.buttons__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.buttons--look {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons--look:hover, .buttons--look:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.buttons--look.all-items {
  color: #fff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    width: 354px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
    /* flex-basis: calc((100% - 60px) / 3); */
    background: #fff;
  }
}

.card__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .card__link {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .card__link {
    display: block;
  }
}

.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .card__overlay {
    position: relative;
    max-width: 450px;
    height: 294px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .card__overlay {
    position: relative;
    width: 354px;
    height: 294px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .card__overlay {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
  }
}

@media screen and (max-width: 767px) {
  .card__overlay > img {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .card__overlay > img {
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .card__overlay > img {
    width: 370px;
    height: 294px;
  }
}

.card__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__overlay-text,
.card__link:focus .card__overlay-text {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-info__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-info__type {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (min-width: 768px) {
  .modal {
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form__title {
  color: #212121;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .modal-form__title {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__title {
    margin-top: 34px;
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form-field {
  position: relative;
  margin-top: 28px;
}

.form-field__input {
  width: 100%;
  padding: 11px 12px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field__label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__textarea {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #212121;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-field__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field:focus-within > .form-field__icon {
  fill: #2196f3;
}

.form-field:focus-within > .form-field__input,
.form-field:focus-within > .form-field__textarea {
  border-color: #2196f3;
}

.check-label {
  color: #757575;
  cursor: pointer;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .check-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 1.1666;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .check-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.check-label__input {
  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-label__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (max-width: 767px), (min-width: 768px) {
  .check-label__icon {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .check-label__icon {
    margin-left: 12px;
    margin-right: 8px;
  }
}

.check-label__link {
  position: relative;
  color: #2196f3;
  text-decoration: underline;
}

.check-label__input:checked + .check-label__icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__btn {
  display: block;
  padding: 10px 56px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */