/* палитра:
- основной цвет текста  #212121;
- вторичный цвет текста #757575;
- белый #FFFFFF; - (h1, .hero-button, цвет второй части текста лого в футере, фон от хэдэра до секции "Наша команда" , строка адреса, телефон и имэйл в футере с 60% прозрачностью - rgba(255, 255, 255, 0.6); )
- акцент #2196F3;
- фон секции "Наша команда" и кнопок в фильтре на странице "Портфолио" #F5F4FA; 
- фон футера #2F303A;
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-color-opacity-60: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

/* HEADER */

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  
  color: #000000;
}

.logo-text {
  color: var(--accent-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list .nav-link.current {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* MAIN CONTENT - index.html */

/* hero */

.hero-section {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* продублировал цвета для :hover и :focus */
.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* benefits */

.benefits {
  display: none;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-paragraph {
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--secondary-text-color);
}

/* WHAT WE DO */

.work-title {
  font-size: 36px;
  line-height: 1.17;
}

/* OUR TEAM */

.team-section {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
}

/* добавил к "карте" ширину,высоту и внешний отступ для наглядности  */
/* .team-member {
  width: 270px;
  height: 368px;
  margin-bottom: 20px;
  background-color: var(--white-color);
} */

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.profession {
  font-size: 16px;
  line-height: 1.1875;
  
  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  background-color: #2f303a;
}

.footer .logo-link {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--white-color);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--white-color-opacity-60);
}

.address-link:hover,
.address-link:focus {
  color: var(--white-color);
}

/* MAIN CONTENT - portfolio.html */

/* BUTTONS LIST */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  
  color: var(--primary-text-color);
  background-color: #F5F4FA;
}

.button.all-items {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* PORJECTS LIST */

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  
  color: var(--secondary-text-color);
}
