/* палитра:
- основной цвет текста  #212121;
- вторичный цвет текста #757575;
- белый #FFFFFF; - (h1, .hero-button, цвет второй части текста лого в футере, фон от хэдэра до секции "Наша команда" , строка адреса, телефон и имэйл в футере с 60% прозрачностью - rgba(255, 255, 255, 0.6); )
- акцент #2196F3;
- фон секции "Наша команда" и кнопок в фильтре на странице "Портфолио" #F5F4FA; 
- фон футера #2F303A;
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-color-opacity-60: rgba(255, 255, 255, 0.6);
  --section-and-btn-bg-color: #F5F4FA;
  --footer-bg-color: #2F303A;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  
  color: var(--primary-text-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}

/* HEADER */


.logo-link {
  display: flex;
  align-items: center;
  margin-right: 93px;
  
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  
  color: var(--black-color);
}

.logo-text {
  color: var(--accent-color);
}

.header-content,
.header-nav {
  display: flex;
  align-items: center;
}


.nav-list .nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list>.list-items:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list>.list-items:not(:last-child) {
margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* MAIN CONTENT - index.html */

/* hero */

.hero-section {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  
  background-color: var(--footer-bg-color);
}

.hero-section,
.hero-section>.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;

  color: var(--white-color);
}

.hero-button {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: #188CE8;
}

/* benefits */

.benefits {
  visibility: hidden;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-paragraph {
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--secondary-text-color);
}

/* WHAT WE DO */

.work-title {
  font-size: 36px;
  line-height: 1.17;
}

/* OUR TEAM */

.team-section {
  background-color: var(--section-and-btn-bg-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
}

/* добавил к "карте" ширину,высоту и внешний отступ для наглядности  */
/* .team-member {
  width: 270px;
  height: 368px;
  margin-bottom: 20px;
  background-color: var(--white-color);
} */

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
}

.profession {
  font-size: 16px;
  line-height: 1.1875;
  
  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  background-color: var(--footer-bg-color);
}

.footer .logo-link {
  color: var(--white-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--white-color);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  
  color: var(--white-color-opacity-60);
}

.address-link:hover,
.address-link:focus {
  color: var(--white-color);
}

/* MAIN CONTENT - portfolio.html */

/* BUTTONS LIST */

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  
  color: var(--primary-text-color);
  background-color: var(--section-and-btn-bg-color);
}

.button.all-items {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* PORJECTS LIST */

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  
  color: var(--secondary-text-color);
}
