/* палитра:
- основной цвет текста  #212121;
- вторичный цвет текста #757575;
- белый #FFFFFF; - (h1, .hero-button, цвет второй части текста лого в футере, фон от хэдэра до секции "Наша команда" , строка адреса, телефон и имэйл в футере с 60% прозрачностью - rgba(255, 255, 255, 0.6); )
- акцент #2196F3;
- фон секции "Наша команда" и кнопок в фильтре на странице "Портфолио" #F5F4FA; 
- фон футера #2F303A;
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --white-color-opacity-60: rgba(255, 255, 255, 0.6);
  --section-and-btn-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--white-color);
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 2px solid tomato; */
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header .logo-link {
  margin-right: 93px;
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-color);
}

.logo-text {
  color: var(--accent-color);
}

header .container,
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list .nav-link.current {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list > .list-items:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-list > .list-items:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

/* MAIN CONTENT - index.html */

/* hero */

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: var(--footer-bg-color);
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  padding: 10px 32px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--white-color);
  background-color: #188ce8;
}

/* benefits */

.benefits-section {
  padding-bottom: 0;
}

.benefits-list {
  display: flex;
}

.benefits-list .list-items {
  width: 270px;
  /* flex-basis: calc((100% - 90px) / 4); */
}

.benefits-list .list-items:not(:last-child) {
  margin-right: 30px;
}

.benefits-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* WHAT WE DO */

.work-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.images-list {
  display: flex;
}

.image-items:not(:last-child) {
  margin-right: 30px;
}

/* OUR TEAM */

.team-section {
  background-color: var(--section-and-btn-bg-color);
}

.team-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-card {
  width: 270px;
  /* flex-basis: calc(100% / 3); */

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.card-info {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.card-profession {
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer .logo-link {
  display: block;
  margin-bottom: 20px;

  color: var(--white-color);
}

.footer-address {
  display: flex;
  flex-direction: column;
}

.address {
  margin-bottom: 9px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color);
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: var(--white-color-opacity-60);
}

.address-link:not(:last-child) {
  margin-bottom: 9px;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* MAIN CONTENT - portfolio.html */

/* BUTTONS LIST */

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;

  color: var(--primary-text-color);
  background-color: var(--section-and-btn-bg-color);
  border-radius: 4px;
  border: none;
}

.button.all-items {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);

  cursor: pointer;
}

/* PORJECTS LIST */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.project-card {
  width: 370px;
  /* flex-basis: calc((100% - 60px) / 3); */
  margin-right: 30px;
  margin-bottom: 30px;

  background: #ffffff;
}

/* ниже альтернативный вариант */
/* .project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.project-info {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;

  color: var(--secondary-text-color);
}
