.clients-section__list {
    @media screen and (min-width: 480px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        // gap: 30px; from tablet 768px
    }
}

// .clients-section__list:not(:last-child) {
//     margin-right: 30px;
// }

.clients-box {
    border: 1px solid $clientsIconBorderColor;
    border-radius: 4px;

    transition: border $durationTimingFunction;

    @media screen and (max-width: 767px) {
        width: 210px;
        height: 92px;
    }

    @media screen and (min-width: 768px) {
        width: 226px;
        height: 92px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
    }

    &:hover,
    &:focus {
        border: 1px solid $accentColor;
    }
}

.clients-box__link {
    color: $iconsPrimaryColor;

    transition: color $durationTimingFunction;

    @media screen and (max-width: 767px) {
        display: block;
        padding: 16px 52px;
        max-width: 210px;
        height: 92px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 226px;
        height: 92px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }
}
}