.clients-section__list {
    @extend %list;
}

.clients-box {
    width: 170px;
    height: 92px;

    border: 1px solid $clientsIconBorderColor;
    border-radius: 4px;

    transition: border $durationTimingFunction;

    &:hover,
    &:focus {
        border: 1px solid $accentColor;
    }

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.clients-box__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    color: $iconsPrimaryColor;

    transition: color $durationTimingFunction;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.clients-box__icon {
    width: 106px;
    height: 60px;
}

