.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $blackColorOpacity20;
    opacity: 1;

    transition: opacity $durationTimingFunction, visibility $durationTimingFunction;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;

    background-color: $whiteColor;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform $durationTimingFunction;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.5);
    }

    &__btn {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;

        background: $whiteColor;
        border: 1px solid $blackColorOpacity10;
        border-radius: 50%;

        cursor: pointer;

        fill: $blackColor;

        transition: fill $durationTimingFunction;
    }
}

.modal__btn:hover,
.modal__btn:focus {
    fill: $accentColor;
}