.page-footer {
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $footerBgColor;
}

.page-footer__container {
    display: flex;
    align-items: baseline;
}

.page-footer__address {
    margin-right: 70px;
}

.page-footer__logo {
    display: block;
    margin-bottom: 20px;

    color: $whiteColor;
}

.address {
    display: flex;
    flex-direction: column;
}

.address__text {
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 1.71;

    color: $whiteColor;
}

.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    color: $whiteColorOpacity60;

    transition: color $durationTimingFunction;

    &:not(:last-child) {
        margin-bottom: 9px;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }
}