.page-footer {
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        background-color: $footerBgColor;
        color: $whiteColor;
    }

}

.page-footer__logo {
    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
        color: $whiteColor;
    }
    
}

.address {
    @media screen and (max-width: 767px) {
       margin-top: 20px;
    margin-bottom: 60px; 
    }
}

.address__text {
    @media screen and (max-width: 767px) {
        margin-bottom: 8px;

        font-size: 14px;
        line-height: 1.71;

        color: $whiteColor;
    } 
}

.address__link {
    @media screen and (max-width: 767px) {
        display: block;
        font-size: 14px;
        line-height: 1.71;

        text-align: center;

        color: $whiteColorOpacity60;

        transition: color $durationTimingFunction;

    }
    
    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.join-box__title {
    @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;

        color: $whiteColor;
    }
}

.join-box__list {
    @extend %centeredFlex;
    justify-content: center;

    @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

.join-item:not(:last-child) {
    margin-right: 10px;
}

.join-item__link {
    @media screen and (max-width: 767px) {}
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $whiteColorOpacity10;

    transition: background-color $durationTimingFunction;

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}


.join-item__icon {
    margin: 12px;
    fill: $whiteColor;
}

.subscribe-form__title {
    @media screen and (max-width: 767px) {
      font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: $whiteColor;  
    }
}

.subscribe-form__field {
    @media screen and (max-width: 767px) {
        margin-top: 20px;
    }    
}

.subscribe-form__input {
    @media screen and (max-width: 767px) {
        padding: 15px 16px;
        margin-bottom: 20px;
        width: 450px;

        font-size: 16px;
        line-height: 1.25;
        color: $whiteColor;

        background-color: $footerBgColor;

        outline: none;
        border: 1px solid $inputBorderSubscribeForm;
        border-radius: 4px;

        cursor: pointer;

        transition: border $durationTimingFunction;
    }

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $whiteColorOpacity60;
    }

    &:focus {
        border: 1px solid $accentColor;
    }
}

.subscribe-form__btn {
    @media screen and (max-width: 767px) {
        padding: 10px 28px;

        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;

        color: $whiteColor;

        background-color: $accentColor;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        cursor: pointer;

        transition: background-color $durationTimingFunction;
    }

    &:hover,
    &:focus {
        background-color: $accentSecondaryColor;
    }
}

.subscribe-form__icon {
    margin-left: 10px;

    fill: currentColor;
}