.page-header {
    @media screen and (max-width: 767px) {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;

        border-bottom: 1px solid $headerBorderColor;
    }

    @media screen and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid $headerBorderColor;
    }

    // @media screen and (min-width: 1200px) {
    //     margin-left: auto;
    //     margin-right: auto;
    //     border-bottom: 1px solid $headerBorderColor; // max-width: 1600px; - нижний бордер хедера будет тянутся не на всю ширину страницы
    // }
}

.page-header__container {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}
    

// LOGO

.logo-menu-box {
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
    
}

.menu-button {
    @media screen and (max-width: 767px) {
        display: inline-block;
        margin: 0;
        padding: 0;

        background-color: transparent;

        border: none;

        cursor: pointer;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-menu,
.icon-cross {
    fill: currentColor;
}

.icon-menu:hover,
.icon-menu:focus,
.icon-cross:hover,
.icon-cross:focus {
    fill: $accentColor;
}

.mobile-menu {
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-left: 40px;

        z-index: 999;

        background-color: $whiteColor;

        transform: translateY(-100%);
        transition: transform $durationTimingFunction;
    }    
}

.mobile-menu.is-open {
    @media screen and (max-width: 767px) {
        transform: translateX(0);
    } 
}

.menu-button.js-close-menu {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 10px;
        right: 15px;
    }
}

.mobile__nav-menu {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
       display: flex;
    }
}

.nav-menu {
    @media screen and (max-width: 767px) {
        margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 84px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 0;
    }
}

.nav-menu__list {
    @media screen and (max-width: 767px) {
        margin-top: 48px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 1200px) {}
    
}

.nav-menu__item {
    @media screen and (max-width: 767px) {
         font-weight: 500;
         font-size: 40px;
         line-height: 1.175;
         letter-spacing: 0.02em;

         &:not(:last-child) {
             margin-bottom: 32px;
         }
    }

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1200px) {}

}

.nav-menu__item {
    @media screen and (min-width: 768px) {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.nav-menu__link {
    @media screen and (min-width: 768px) {
        position: relative;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }
}
    
.nav-menu__link::after {
    @media screen and (min-width: 768px) {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accentColor;

        border-radius: 2px;

        /* opacity: 0; */
        transform: scale(0);
        transition: transform $durationTimingFunction;
    }
    
}

.nav-menu__link:hover::after,
.nav-menu__link:focus::after {
    @media screen and (min-width: 768px) {
        /* opacity: 1; */
        transform: scale(1);
    }
    
}

.nav-menu__link.current::after {
    @media screen and (min-width: 768px) {
        transform: scale(1);
    }
    
}

.nav-menu__link.current {
    color: $accentColor;
}

// CONTACTS

