.projects {
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
}

.card {
    @media screen and (max-width: 767px) {
        width: 450px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        width: 370px;
        /* flex-basis: calc((100% - 60px) / 3); */

        background: $whiteColor;
    }
}

// ниже альтернативный вариант 
// card:nth-child(3n) {
//   margin-right: 0;
// }

// card:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// } 

.card__link {
    @media screen and (max-width: 767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
   
    @media screen and (min-width: 1200px) {
        display: block;
    }

    transition: box-shadow $durationTimingFunction;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__overlay {
    @media screen and (max-width: 767px) {
        position: relative;
        max-width: 450px;
        max-height: 294px;

        overflow: hidden;
    }

    @media screen and (min-width: 768px) {
        position: relative;
        width: 354px;
        height: 294px;

        overflow: hidden;
    }

    @media screen and (min-width: 1200px) {
        position: relative;
        width: 370px;
        height: 294px;

        overflow: hidden;
    }
}

.card__overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    font-size: 18px;
    line-height: 1.56;
    color: $whiteColor;

    background-color: $accentColorOpacity90;

    transform: translateY(100%);
    transition: transform $durationTimingFunction;

    @media screen and (min-width: 768px) {
        
    }
}

.card__link:hover .card__overlay-text,
.card__link:focus .card__overlay-text {
    transform: translate(0);
}

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border-right: 1px solid $projectCardBorderColor;
    border-bottom: 1px solid $projectCardBorderColor;
    border-left: 1px solid $projectCardBorderColor;
}

.card-info__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    // @media screen and (min-width: 768px) {
    //     margin-top: -63px;
    // }
}

.card-info__type {
    font-size: 16px;
    line-height: 1.875;

    color: $secondaryTextColor;
}