.subscribe-form {
    display: flex;
    flex-direction: column;
}

.subscribe-form__title {
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: $whiteColor;

    text-transform: uppercase;
}

.subscribe-form__input {
    padding: 14px 16px;
    width: 358px;
    margin-right: 12px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $whiteColor;

    background-color: $footerBgColor;
    border: 1px solid $inputBorderSubscribeForm;
    border-radius: 4px;
    outline: none;

    transition: border-color $durationTimingFunction;

    cursor: pointer;
}

.subscribe-form__btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
    margin-left: -4px;  

    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: $whiteColor;

    background-color: $accentColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    cursor: pointer;

    transition: background-color $durationTimingFunction;

    &:hover,
    &:focus {
        background-color: $accentSecondaryColor;
    }
}

.subscribe-form__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;

    fill: currentColor;
}

.subscribe-form__input {
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $whiteColorOpacity60;
    }

    &:focus {
        border-color: $accentColor;
    }
}