%centeredFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%mainTitle {
    @media screen and (max-width: 767px), (min-width:768px) {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 1.17;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
    }
}