$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$accentColor: #2196f3;
$accentSecondaryColor:#188ce8;
$heroBgColor: #C4C4C4;
$whiteColor: #fff;
$blackColor: #000;
$whiteColorOpacity60: rgba(255, 255, 255, 0.6);
$sectionBgColor: #f5f4fa;
$footerBgColor: #2f303a;
$iconsPrimaryColor: #AFB1B8;
$whiteColorOpacity10: rgba(255, 255, 255, 0.1);
$durationTimingFunction: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$headerBorderColor: #ececec;
$clientsIconBorderColor: #AFB1B8;
$inputBorderSubscribeForm: rgba(255, 255, 255, 0.3);
$accentColorOpacity90: rgba(33, 150, 243, 0.9);
$projectCardBorderColor: #eeeeee;
$blackColorOpacity20: rgba(0, 0, 0, 0.2);
$blackColorOpacity15: rgba(0, 0, 0, 0.15);
$blackColorOpacity10: rgba(0, 0, 0, 0.1);
$inputModalBorderColorOpacity20: rgba(33, 33, 33, 0.2);
$textareaPlaceholderColor: rgba(117, 117, 117, 0.5);